.float-group {
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    width: 100%;
}

.float-control {
    display: block;
    height: 36px;
    width: 100%;
    border: none;
    border-radius: 0 !important;
    font-size: 15px;
    font-weight: 300;
    padding: 0;
    background-color: transparent !important;
    box-shadow: none;
}

.float-group .float-control {
    position: relative;
    z-index: inherit;
    float: inherit;
    width: 100%;
    margin-bottom: 0;
}

.float-control:focus {
    border-color: #757575;
    outline: none;
    box-shadow: none;
}

/* -- label styles ---------------------------------- */

.label {
    color: #999;
    font-size: 14px;
    pointer-events: none;
    position: absolute;
    font-weight: 300;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        font-size: 16px;
    }
}

.float-label {
    left: 0;
    top: 12px;
    font-size: 14px;
    pointer-events: none;
}

.float-active {
    top: -12px;
    font-size: 12px;
    left: 0px;
}

/* -- bar styles -------------------------------------- */

.form-bar {
    position: relative;
    display: block;
    width: 100%;
}

.form-bar::before, .form-bar::after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 0;
    position: absolute;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
}

/* active state */

.float-control:focus~.form-bar::before, .float-control:focus~.form-bar::after {
    width: 100%;
}

/* -- highlighter styles ------------------------------ */

.form-highlight {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 30%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */

.float-control:focus~.form-highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* -- highlighter animation --------------------------- */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}